SITE_URL=https://YOUR_HEDGE_DOMAIN

NEXT_PUBLIC_SUPABASE_URL=https://YOUR_PROJECT.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY

NEXT_PUBLIC_HEDGE_TOKEN_ADDRESS=HTv34hJtJLrC62FXt8ea8rhv3YkaBCovVEmmHR6xpump
HEDGE_HYPERLIQUID_ACCOUNT=
NEXT_PUBLIC_HEDGE_HYPERLIQUID_ACCOUNT=
HEDGE_HYPERLIQUID_DEXS=xyz,vntl,cash,para
NEXT_PUBLIC_HEDGE_X_URL=https://x.com/Hedge_Sol_
NEXT_PUBLIC_HEDGE_COMMUNITY_URL=
